<!DOCTYPE html>
<html>
  <head>
    <title>My first app</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/style.css">

  </head>
  <body>
    <h1>Welkom bij {{ maker }}'s app</h1>
    <p>
      Deze app is nog erg eenvoudig.
    </p>
    <div>
      <button id="myButton">Klik hier</button>
    </div>
    <div>
      <ul>
        {% for todo in todos %}
         <li> {{ todo.id }} - {{ todo.todo }} </li>
        {% endfor %}
      </ul>
    </div>
    <script src="/public/demo.js"></script>
  </body>
</html>
