<html>
  
  <body>
    <h1>
      Machine Learning Projects    
    </h1>
    <hr>
     
      <table border="1">
        <tr>
          <td> Result Prediction using Linear Regresson  </td>
          <td>    
           <a href="/result"> Go to Live Sensor data </a>
          </td>
        </tr>
       <tr>
          <td> Flower type Prediction using Logistic Regresson  </td>
          <td>    
           <a href="/iris"> Go to Rain Prediction </a>
          </td>
        </tr>
        
      </table>
 
  </body>
</html>