<html>
  
  <body>
    <h1>
      IRIS flower prediction  
    </h1>
    <hr>
    <form action="/irisp" method="post">
      <table border="1">
        <tr>
          <td> Sepal Width  </td>
          <td> <input type = "text" name="sw">
          </td>
        </tr>
        <tr>
          <td> Sepal height  </td>
          <td> <input type = "text" name="sh">
          </td>
        </tr>
           <tr>
          <td> Petal Width  </td>
          <td> <input type = "text" name="pw">
          </td>
        </tr>
        <tr>
          <td> petal height  </td>
          <td> <input type = "text" name="ph">
          </td>
        </tr>
        
        <tr>
          <td colspan="2" align="center">
            <input type="submit" value="Predict flower type">
            <input type="reset" value ="clear">
          </td>
        </tr>
      </table>
      
    </form>
      {{ data }}
    
    <hr>
    <a href="/"> Home Page </a>
  </body>
</html>