<html>
  
  <body>
    <h1>
      IRIS flower prediction  
    </h1>
    <hr>
    <form action="/p" method="post">
      <table border="1">
        <tr>
          <td> Hours of self study daily </td>
          <td>    
            <select name="hrsself">
              {% for i in range (2,16)%}
                <option> {{ i}}</option>
              {%endfor%}
            </select>
          </td>
        </tr>
        <tr>
          <td> Hours spent on Tutorials/tution Monthly </td>
          <td> <select name="hrstut">
              {% for i in range (20,46)%}
                <option> {{ i}}</option>
              {%endfor%}
            </select> 
         </td>
        </tr>
        <tr>
          <td colspan="2" align="center">
            <input type="submit" value="Predict Passing Probability (Result)">
            <input type="reset" value ="clear">
          </td>
        </tr>
      </table>
      
    </form>
      {{ data }}
  </body>
</html>