<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Data Display</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
    <meta http-equiv="refresh" content="5">
</head>
<body>
    <h1>Display Live Data From Sensor</h1>
  <h3>This page will auto refresh every 5 seconds</h3>
<a href="/" style="margin-top:10px;margin-bottom:10px;width: 700px;">Go Back to Home Page</a>
    <table>
        <thead>
            <tr>
                <th>TID</th>
                <th>Sensor ID</th>
                <th>Sample Name</th>
                <th>Temperature</th>
                <th>Humidity</th>
                <th>Server Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    <td>{{ row.tid }}</td>
                    <td>{{ row.sensorid }}</td>
                    <td>{{ row.samplename }}</td>
                    <td>{{ row.temp }} °C</td>
                    <td>{{ row.hum }} %</td>
                    <td>{{ row.servertimestamp }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
