@app.route('/rain', methods=["POST"])
def predict_rain():
    sw = float(request.form.get("sw"))
    sh = float(request.form.get("sh"))
    pw = float(request.form.get("pw"))
    
    url = "https://raw.githubusercontent.com/priyanka9-99/aiot/main/test.csv"
    df = pd.read_csv(url)
    X = df.iloc[:, 0:3].values  # Input features
    Y = df.iloc[:, 3].values    # Output variable

    model = LogisticRegression()
    model.fit(X, Y)
    
    rainfall_prediction = model.predict([[sw, sh, pw]])[0]
    
    return render_template("rain.html", rainfall=rainfall_prediction)



<html>
  
  <body>
    <h1>
      Raifall prediction  
    </h1>
    <hr>
    <form action="/rain" method="post">
      <table border="1">
        <tr>
          <td> Year  </td>
          <td> <input type = "text" name="sw">
          </td>
        </tr>
        <tr>
          <td> Month  </td>
          <td> <input type = "text" name="sh">
          </td>
        </tr>
           <tr>
          <td> Temperature  </td>
          <td> <input type = "text" name="pw">
          </td>
        </tr>
        
        
        <tr>
          <td colspan="2" align="center">
            <input type="submit" value="Predict Rainfall">
            <input type="reset" value ="clear">
          </td>
        </tr>
      </table>
      
    </form>
      {{ data }}  
    
    <hr>
    <a href="/"> Home Page </a>
  </body>
</html>